html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:rgb(255, 255, 255);
}


.form-signin {
    width: 100%;
    max-width: 421px;
    margin: auto;
  }

h2 {
    font-weight: lighter;
}

h4 {
    font-weight: lighter;
}

.form-login {
  width: 100%;
  max-width: 421px;
  padding: 15px;
  margin: auto;
  border-style: solid;

}

.form-login .form-floating:focus-within {
  z-index: 2;
}

.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.bnt{
  margin-left: 71px;
  border-radius: 8px;
  border: none;
  width: 120px;
  height: 50px;
}
.container{
  padding: 0px;
  width:391px;
  margin-top: 40px;
}
.spann{
  
  margin-right: 71px;
  padding: 0px;
}
.emailsdt{
  margin-top: 5px;
  margin-right: 210px;
}
.timhieuthem{
  text-decoration: none;

}


