html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 421px;
  margin: auto;
  padding: 15px;
}
  
h2 {
    font-weight: lighter;
}

h4 {
    font-weight: lighter;
}

.container {
  padding: 0px;
  margin: 0px;
}

.bnt{
  margin-left: 71px;
  border-radius: 8px;
  border: none;
  width: 120px;
  height: 50px;
}