#header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 15px;
}

#header .h-left span {
  cursor: pointer;
  margin-top: 10px;
}

#header .h-left {
  display: flex;
  align-items: center;
  margin-top: 17px;
  width: 270px;
}

#header img {
  width: 70px;
  margin-left: 0.5rem;
}

#header .h-left > a {
  text-decoration-color: black;
  text-decoration: none;
  font-size: 25px;
}

#header .h-search {
  margin-top: 10px;
}

#header .h-search span {
  margin-top: 7px;
  margin-right: 3px;
}

#header .h-search .search-btn {
  padding-bottom: 39px;
  background-color: rgb(230, 230, 230);
  border-color: rgb(102, 102, 102);
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  border-right: none;
}

#header .h-search .tune-btn {
  padding-bottom: 39px;
  background-color: rgb(230, 230, 230);
  border-color: rgb(102, 102, 102);
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-left: none;
}

#header .h-search form {
  border: 1px;
  height: 35px;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 10px;
}

#header .textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  outline: none;
}

#header .h-search input {
  width: 500px;
  height: fit-content;
  padding: 8px;
  margin: 0;
  background-color: rgb(230, 230, 230);
  border-color: rgb(102, 102, 102);
  border-left: none;
  border-right: none;
  border: none;
}

#header .h-right {
  margin-top: 10px;
}

#header .h-right span {
  margin-top: 13px;
  margin-left: 10px;
  color: rgb(112, 112, 112);
  border: none;
  cursor: pointer;
}

/* sidebar vs righttop */
#Sidebar {
  margin: 0px;
  height: 100%;
}
.dropdown-btn {
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.dropdown-container {
  display: none;
  padding-left: 8px;
}
.fa-caret-down {
  float: left;
  padding-right: 8px;
}
.menusidebar {
  height: 210px;
}
.material-icons {
  margin-right: 10px;
  margin-bottom: 9px;
}
a {
  text-decoration: none;
  color: black;
}
.container-fluid {
  width: 100%;
  background-color: white;
}
.search-btn {
  border: none;
}
.tune-btn {
  border: none;
}

/* sidebar rightbottom*/

h6 {
  margin-left: 35px;
}
.right-sidebar {
  position: fixed;
  right: 0;
  top: 70px;
  width: 7%;
}
button {
  border: none;
  background-color: white;
}
.right-sidebar .material-icons {
  margin-top: 25px;
}

/* Main */

.btn {
  width: 250px;
  height: 50px;
  border: none;
  cursor: pointer;
}

#Main .btn span {
  margin: 0px;
  position: relative;
  right: 50px;
}

#Main .btn > a {
  position: relative;
  bottom: 5px;
}
